/* a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}
a:active{
    color:red;
}
a:focus{
    background-color: yellow;
}
a:visited{
    color: chartreuse;
}

div p::selection{
    background-color: blue;
}
p:not(:last-child){
    margin-bottom: 100px;
} */

P:first-of-type{ /* eger ilk element p degilse  first-child veya last-child calismaz bundan dolayi first-of-type kullanilir*/
    background-color: red;
}
p:last-of-type{ 
    background-color: yellow;
}